<div class="container">
  <div class="row">
    <div class="col-4">
      <h3><%= account.login %>
        <%= image_tag account.image, height: 40, width: 40, class: "rounded" %>
      </h3>
    </div>
    <div class="col">
      <%= account.email %>
    </div>
  </div>
</div>
